<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="Meta.Vlc" version="17.06.20" targetFramework="net46" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="17.06.20" targetFramework="net46" developmentDependency="true" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net46" />
</packages>